* {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 20px;
    margin: 0 auto;
}

h1 {
    font-size: 1.4em;
    color: rgb(100, 100, 100);
}

#employee-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
    grid-gap: 20px 25px;
    justify-content: center;
}

.employee-card {
    display: flex;
    align-items: center;
    line-height: 0.6em;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
}

.employee-thumbnail {
    border-radius: 50%;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.employee-name, .employee-email, .employee-city {
    padding-left: 20px;
}

.employee-name {
    font-size: 1em;
    color: rgb(100, 100, 100);
}

.employee-email, .employee-city {
    font-size: 0.75em;
    color: rgb(160, 160, 160);
}

.modal-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    display: none;
    margin: 0 auto;
}

.modal {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 420px;
    margin: auto;
    padding-top: 60px;
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border: 1px solid rgba(100, 100, 100, 0.3);
    transition: .6s ease-out;     
}

.modal-info-container {
    text-align: center;
}

.modal-info-container hr {
    width: 90%;
    border: solid 0.5px rgb(160, 160, 160);
}

.modal-info-container h3 {
    color: rgb(100, 100, 100);
}

.modal-info-container p {
    color: rgb(160, 160, 160);
    font-size: 0.8em;
}

.modal-img {
    border-radius: 50%;
}

.modal-close-x {
    position: absolute;
    top: 10px;
    right: 20px;
    color: rgb(100, 100, 100);
    font-size: 1.5rem;
}

.modal-close-x:hover {
    cursor: pointer;
    color: rgb(195, 93, 226);
}

#next-btn, #prev-btn {
    color: rgb(100, 100, 100);
}

#next-btn:hover, #prev-btn:hover {
    cursor: pointer;
    color: rgb(195, 93, 226);
}

#next-btn {
    float: right;
    padding-right: 15px;
}

#prev-btn {
    float: left;
    padding-left: 15px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

#searchbar {
    -webkit-appearance:none;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgb(100, 100, 100);
    padding: 15px;
}

.hidden {
    display: none;
}