* {
    font-family: 'Open Sans', sans-serif;
}

body {
    padding: 20px;
    margin: 0 auto;
}

h1 {
    font-size: 1.4em;
    color: rgb(100, 100, 100);
}

#employee-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 30%));
    grid-gap: 20px 25px;
    justify-content: center;
}

.employee-card {
    display: flex;
    align-items: center;
    line-height: 0.6em;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
}

.employee-thumbnail {
    border-radius: 50%;
    padding: 20px;
    width: 100px;
    height: 100px;
}

.employee-name, .employee-email, .employee-city {
    padding-left: 20px;
}

.employee-name {
    font-size: 1em;
    color: rgb(100, 100, 100);
}

.employee-email, .employee-city {
    font-size: 0.75em;
    color: rgb(140, 140, 140);
}